POSTGRES_USER="<postgres_user>"
POSTGRES_PASSWORD="<postgres_password>"

PG_HOST=<pg_host>
PG_PORT=5432
PG_USER=<pg_user>
PG_NAME=<db_name>
DATABASE_URL=ecto://<pg_user>:<postgres_password>@<pg_host>/<db_name>
SECRET_KEY_BASE=<secret-key-base>
LANG=en_US.UTF-8s
