@import "./fonts.scss";

/* import tailwindcss. */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

body {
  font-family: Calibre,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Alpine js reset */
[x-cloak] {
  display: none !important;
}
