@import "./fonts.scss";

/* import tailwindcss. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: Calibre,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Alpine js reset */
[x-cloak] {
  display: none !important;
}
