@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d26938b272dbcad8_CalibreWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d26938711fdbcae3_CalibreWeb-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d2693800f5dbcae7_CalibreWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d26938f469dbcae5_CalibreWeb-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d269382ed5dbcaee_CalibreWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d2693842e5dbcaf6_CalibreWeb-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d269387fe7dbcaf4_CalibreWeb-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d269388052dbcad3_CalibreWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d26938571fdbcad0_CalibreWeb-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d26938fc10dbcaf2_CalibreWeb-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d269380708dbcacc_CalibreWeb-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d26938b1bbdbcad6_CalibreWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Founders Grotesk Mono';
  src: url('https://assets.website-files.com/5d816b07d269385f68dbcab0/5d816b07d2693854eddbcad9_FoundersGroteskMonoWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
