# This is a start point for developers to set the configuration that is specific to your dev environment.
# Here we intend to list all
# setup that is specific to developers so them might copy to their config.
# cp config/dev.secret.exs.sample config/dev.secret.exs
import Config

config :njausteve, Njausteve.Repo,
  username: "<your-postgres-user-name>",
  password: "<your-postgres-password>",
  database: "<database-name>",
  hostname: "localhost"
