<div class="py-10"></div>
<div class="bg-white">
  <div class="container relative px-4 pt-10 pb-5 mx-auto overflow-hidden md:pb-8 md:py-10 lg:pb-20">
    <%# ---- Start: Posts ---- %>
    <%= if @post != nil do %>
      <%= render NjausteveWeb.BlogView, "_blog_post.html", assigns %>
    <% end %>
    <%# ---- End: Posts ---- %>
  </div>
</div>
